/*

!/.gitignore
!/.gitmodules
!/Makefile
!/README.md

!/aerospace/
!/aerospace/**

!/gitui/
!/gitui/**

!/ghostty/
!/ghostty/**
ghostty/docs/
ghostty/*.bak*

!/karabiner/
!/karabiner/**
karabiner/automatic_backups/

!/kitty/
!/kitty/**

!/lazygit/
!/lazygit/**

!/neovide/
!/neovide/**

!/nvim/
!/nvim/**

!/tmux/
!/tmux/**
tmux/docs

!/yazi/
!/yazi/**
yazi/*.toml-*

!/zsh/
!/zsh/**

!/hammerspoon/
hammerspoon/*
!hammerspoon/init.lua
!hammerspoon/Spoons/
!hammerspoon/Spoons/**
hammerspoon/*.bak*

.git/
